body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(247, 247, 241);
    text-align: center;
    color: #262626
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;
    background-color: #cdc1b5;
    flex-wrap: wrap;
    align-items: center;
    border: 7px solid #bbada0;
    display: flex;
    margin: auto;
}

.tile {
    width: 90px;
    height: 90px;
    background-color: #cdc1b5;
    border: 5px solid #bbada0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.tile2 {
    background-color: #eee4da;
    color: #50514f;
}

.tile4 {
    background-color:#ece0ca;
    color: #50514f;
}

.tile8 {
    background-color:#f4b17a;
    color: white;
}

.tile16 {
    background-color:#f59575;
    color: white;
}

.tile32 {
    background-color:#f57c5f;
    color: white; 
}

.tile64 {
    background-color:#f65d3b;
    color: white;
}

.tile128 {
    background-color:#edce71;
    color: white;
}

.tile256 {
    background-color:#edcc63;
    color: white;
}

.tile512 {
    background-color:#edc651;
    color: white;
}

.tile1024 {
    background-color:#f4b17a;
    color: white;
}

.tile2048 {
    background-color:#f4b17a;
    color: white;
}

.tile4096 {
    background-color: #fe3d3d; 
    color: white;
}

.tile8192 {
    background-color: #fe3d3d; 
    color: white;
}
